@media screen and (min-width: 1441px) {
    
}
@media screen and (max-width: 480px) {
    :root {
        --fz40: 30px;
    }
    .registrationSection .apps .info-block-apps {
        grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    }
    .registrationSection .apps {
        margin-top: 80px;
    }    
}